<div class="column is-8">

<div class="card ">
    <header class="card-header">
        <p class="card-header-title">
            ¡Por favor, necesito tu ayuda!
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">

            <p></p>
            <p>Estoy buscando desesperadamente a mi perrita llamada Sasha. Es una poodle de color blanco con un collar
                militar verde. Se escapó y no la encuentro. Si la has visto o tienes alguna información, por favor
                contáctame lo antes posible. ¡Tu ayuda sería muy apreciada!</p>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>



<div class="card ">
    <header class="card-header">
        <p class="card-header-title">
            ¡Por favor, necesito tu ayuda!
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">

            <p></p>
            <p>Estoy buscando desesperadamente a mi perrita llamada Sasha. Es una poodle de color blanco con un collar
                militar verde. Se escapó y no la encuentro. Si la has visto o tienes alguna información, por favor
                contáctame lo antes posible. ¡Tu ayuda sería muy apreciada!</p>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>


<div class="card ">
    <header class="card-header">
        <p class="card-header-title">
            ¡Por favor, necesito tu ayuda!
        </p>
        <button class="card-header-icon" aria-label="more options">
            <span class="icon">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </header>
    <div class="card-content">
        <div class="content">

            <p></p>
            <p>Estoy buscando desesperadamente a mi perrita llamada Sasha. Es una poodle de color blanco con un collar
                militar verde. Se escapó y no la encuentro. Si la has visto o tienes alguna información, por favor
                contáctame lo antes posible. ¡Tu ayuda sería muy apreciada!</p>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>


</div>