<div class="columns is-vcentered">
    <div class="column is-8">
      <h2>Normas de Seguridad CER</h2>
      <ul>
          <li><strong>Mantener puertas y ventanas cerradas y aseguradas:</strong> Es fundamental cerrar y asegurar correctamente todas las puertas y ventanas cuando no estén en uso, incluso cuando estén en casa.</li>
          <li><strong>No divulgar información personal:</strong> Evitar divulgar información personal, como planes de viaje o ausencia prolongada del apartamento, a personas desconocidas o en redes sociales.</li>
          <li><strong>No dejar llaves de repuesto a la vista:</strong> Evitar dejar llaves de repuesto cerca de la puerta principal o en lugares obvios, ya que pueden ser descubiertas por intrusos.</li>
          <li><strong>Instalar cerraduras adicionales:</strong> Considerar la instalación de cerraduras adicionales, como cerrojos o pestillos, para reforzar la seguridad de las puertas principales y de las ventanas.</li>
          <li><strong>Utilizar sistemas de seguridad:</strong> Implementar sistemas de seguridad en el apartamento, como alarmas, cámaras de vigilancia o sistemas de monitoreo, para disuadir a posibles intrusos y alertar en caso de emergencia.</li>
          <li><strong>Conocer a los vecinos:</strong> Mantener una buena relación con los vecinos puede ayudar a crear un entorno de vigilancia mutua, donde se puedan alertar sobre actividades sospechosas o personas desconocidas en el edificio.</li>
          <li><strong>Reportar situaciones sospechosas:</strong> Estar atento a cualquier actividad inusual o personas sospechosas en el edificio y reportarlo de inmediato a las autoridades pertinentes o al administrador del edificio.</li>
          <li><strong>No dejar objetos de valor a la vista:</strong> Evitar dejar objetos de valor, como joyas, dispositivos electrónicos o dinero en efectivo, a la vista de las ventanas o puertas, ya que esto puede atraer a posibles ladrones.</li>
          <li><strong>Participar en programas de seguridad comunitaria:</strong> Unirse a programas de seguridad comunitaria o vecinal puede ser beneficioso para compartir información sobre medidas de seguridad y coordinar acciones para mantener el edificio seguro.</li>
          <li><strong>Actualizar cerraduras y sistemas de seguridad:</strong> Mantener las cerraduras y sistemas de seguridad del apartamento actualizados y en buen estado de funcionamiento, realizando mantenimiento regular y reemplazando cualquier elemento defectuoso.</li>
      </ul>
    </div>
    <div class="column">
      <div class="contact-card">
        <h3>Emergencias - Líneas Directas</h3>
        <p><strong>Policía Nacional:</strong> 123</p>
        <p><strong>Bomberos:</strong> 119</p>
        <p><strong>Cruz Roja:</strong> 132</p>
        <p><strong>Defensa Civil:</strong> 144</p>
        <p><strong>Línea Nacional de Atención a Víctimas:</strong> 155</p>
        <p><strong>Centro de Atención y Orientación al Migrante:</strong> 106</p>
    </div>
    </div>
  </div>