h2{
    font-size: 3rem;
}


.contact-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-card h3 {
    margin-top: 0;
}
.contact-card p {
    margin: 10px 0;
}