/* You can add global styles to this file, and also import other style files */


body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: 2.5rem;
    font-weight: 257;
    font-style: normal;
  }